In [1]:
import sqlite3
import pandas as pd

connection = sqlite3 . connect ('database . sqlite ')
cursor = connection . cursor ()

In [2]:
# Tạo bảng PRODUCT :
cursor . execute (
"""CREATE TABLE PRODUCT (
ID INTEGER PRIMARY KEY ,
NAME TEXT NOT NULL ,
PRICE INTEGER NOT NULL
);"""
)

OperationalError: table PRODUCT already exists

In [ ]:
cursor . execute ("""
INSERT INTO PRODUCT (ID , NAME , PRICE )
VALUES
('1','iPhone15','18000000') ,
('2','Galaxy Z-Fold 5','30000000') ;
""" )

connection . commit ()

In [5]:
data =pd.read_sql_query(" SELECT * FROM PRODUCT ", connection )
print (data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [13]:
cursor . execute ("""
UPDATE PRODUCT
SET PRICE = '50000000'                
WHERE 2 = 2
AND ID = '2';
""" )

connection . commit ()

In [14]:
data =pd.read_sql_query(" SELECT * FROM PRODUCT ", connection )
print (data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [15]:
cursor . execute ("""
DELETE FROM PRODUCT
WHERE 1 = 1
AND ID = '2';
""" )

connection . commit ()

In [16]:
data =pd.read_sql_query(" SELECT * FROM PRODUCT ", connection )
print (data)

   ID       NAME     PRICE
0   1  iPhone 15  18000000

In [18]:
cursor . execute ("""
INSERT INTO PRODUCT (ID , NAME , PRICE )
VALUES
('2','Galaxy Z-Fold 5','30000000') ;
""" )

connection . commit ()

IntegrityError: UNIQUE constraint failed: PRODUCT.ID

In [19]:
data =pd.read_sql_query(" SELECT * FROM PRODUCT ", connection )
print (data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [20]:
cursor . execute ("""
DELETE FROM PRODUCT
WHERE 1 = 1
AND ID = '1';
""" )

connection . commit ()

In [21]:
data =pd.read_sql_query(" SELECT * FROM PRODUCT ", connection )
print (data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  30000000