In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3 . connect ('database . sqlite ')
cursor = connection . cursor ()

In [3]:
# Tạo bảng PRODUCT :
cursor . execute (
"""CREATE TABLE STOCK (
ID INTEGER PRIMARY KEY ,
NAME TEXT NOT NULL ,
BUY INTEGER NOT NULL,
INVERTOR TEXT NOT NULL
);"""
)

In [6]:
cursor . execute ("""
INSERT INTO STOCK (ID , NAME , BUY, INVERTOR )
VALUES
('1','ACB','29.45','Nguyen'),
('2','VIC','44.55','Nguyen'),
('3','GMD','74.30','Nguyen'),
('4','ACB','28.45','Vinh'), 
('5','VIC','40.45','Vinh'),
('6','GMD','60.30','Vinh');
""" )

connection . commit ()

In [8]:
data =pd.read_sql_query(" SELECT * FROM STOCK ", connection )
print (data)

   ID NAME    BUY INVERTOR
0   1  ACB  29.45   Nguyen
1   2  VIC  44.55   Nguyen
2   3  GMD  74.30   Nguyen
3   4  ACB  28.45     Vinh
4   5  VIC  40.45     Vinh
5   6  GMD  60.30     Vinh

In [10]:
query = """
SELECT SUM ( BUY ) AS total_revenue
FROM STOCK ;
"""

data_sum = pd. read_sql_query (query , connection )
print ( data_sum )

   total_revenue
0          277.5

In [18]:
query = """
SELECT INVERTOR, NAME , MAX ( BUY ) AS MAX_PRICE
FROM STOCK 
GROUP BY INVERTOR;
"""
data_max = pd. read_sql_query (query , connection )
print ( data_max )

  INVERTOR NAME  MAX_PRICE
0   Nguyen  GMD       74.3
1     Vinh  GMD       60.3